<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/png" th:href="@{img/cropped-header_logo-1-150x150.png}" size="32x32" />

	<title>Admón IEEE | Latina</title>

</head>
        
	<th:Block th:insert="~{/html/layout/fragments_layout/styles}"></th:Block>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css.map">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

	<div th:insert="~{/html/layout/fragments_layout/sec_navbar}"></div>
	 
	<div th:insert="~{/html/layout/fragments_layout/sec_aside}"></div>
	 
	<div class="content-wrapper bg-white mb-5 p-5"> 
	
	    <div layout:fragment="content"></div> 
	    
	</div>
	
	<th:Block th:insert="~{/html/layout/fragments_layout/scripts}"></th:Block>
  
</div>

    <script type="text/javascript" src="plugins/popper/popper.js"></script>
    <script type="text/javascript" src="plugins/popper/popper.js.map"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.bundle.min.js.map"></script>
  	<!-- my resources -->
  	<link rel="stylesheet" type="text/css" th:href="@{css/assets/stylesheet.css}"/>
  	<script type="text/javascript" src="css/assets/script.js"></script>
</body>
</html>