<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear nuevo contenido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="needs-validation" th:action="@{/crear}" method="post" novalidate>

          <div class="form-floating m-2">
          <select class="form-select" id="categoria" name="categoria" required>
              <option disabled selected value="">Seleccione la categoria</option>
              <option value="destacados">Destacados</option>
              <option value="noticias">Noticias</option>
              <option value="eventos">Eventos</option>
              <option value="beneficios">Beneficios</option>
              <option value="sobre">Sobre Nosotros</option>
              <option value="junta">Junta Directiva</option>
            </select>
            <label for="categoria">Categoria del contenido</label>
            
            <div class="invalid-feedback">
		      Porfavor seleccione una categoria
		    </div>
		    
          </div>

          <div class="form-floating m-2">
            <input type="text" class="form-control" id="image" name="image" placeholder="image">
            <label for="image">Image url/location</label>
          </div>

          <div class="form-floating m-2">
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="titulo">
            <label for="titulo">Titulo</label>
          </div>

          <div class="form-floating m-2">
            <textarea class="form-control" placeholder="contenido" id="contenido" name="contenido" style="height: 100px"></textarea>
            <label for="contenido">Contenido</label>
          </div>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

      </div>
    </div>
  </div>
</div>