<footer class="main-footer fixed-bottom" >
<strong><font style="vertical-align: inherit;">
<font style="vertical-align: inherit;">Copyright © 2023 </font></font><a
	href="https://www.ulatina.edu.pa/"><font
		style="vertical-align: inherit;"><font
			style="vertical-align: inherit;">Universidad Latina de Panama</font></font></a><font
	style="vertical-align: inherit;"><font
		style="vertical-align: inherit;"> . </font></font></strong><font
	style="vertical-align: inherit;"><font
	style="vertical-align: inherit;"> Reservados todos los
		derechos. </font></font>
</footer>