	<!-- Agregar enlaces a los archivos CSS de Bootstrap, JavaScript de Bootstrap y jQuery -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	
    <!-- CSS -->
   	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap.min.css.map}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap-grid.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap-grid.min.css.map}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap-reboot.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap-reboot.min.css.map}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap-utilities.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap/bootstrap-utilities.min.css.map}">
    

	<link rel="stylesheet" th:href="@{plugins/fontawesome-free/css/all.min.css}">

	<link rel="stylesheet" th:href="@{plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
	<link rel="stylesheet" th:href="@{plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{plugins/jqvmap/jqvmap.min.css}">
	<link rel="stylesheet" th:href="@{css/alte/adminlte.min.css}">
	<link rel="stylesheet" th:href="@{plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
	<link rel="stylesheet" th:href="@{plugins/daterangepicker/daterangepicker.css}">
	<link rel="stylesheet" th:href="@{plugins/summernote/summernote-bs4.min.css}">  

	
	<!-- DataTables -->
  	<link rel="stylesheet" th:href="@{plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
  	<link rel="stylesheet" th:href="@{plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
  	<link rel="stylesheet" th:href="@{plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">  