<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="height: auto;">

	<head>
	<meta charset="UTF-8">
 <!--  Desarrolle aqui un punto del examen -->
<!--  
<link rel="shortcut icon" type="image/png" th:href="@{}" />
-->
<title>Admón IEEE | Latina</title><!--  Desarrolle aqui un punto del examen -->


	
	<!-- Agregar enlaces a los archivos CSS de Bootstrap, JavaScript de Bootstrap y jQuery -->
        
	<th:Block th:insert="/layout/fragments_layout/styles"></th:Block>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css.map">
    <script type="text/javascript" src="plugins/popper/popper.js"></script>
    <script type="text/javascript" src="plugins/popper/popper.js.map"></script>
  	<!-- my resources -->
  	<link rel="stylesheet" type="text/css" href="css/bootstrap/stylesheet.css">
  	<script type="text/javascript" src="plugins/bootstrap/js/script.js"></script>

     </head>
    
    
	<body>
	<div class="content justify-content-center" id="load-icon">
<div  class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>
	<!-- Main Content -->
	<div class="container content justify-content-center" style="height:90vh;">
	
	<div class="card p-4 shadow" style="min-width:35%;">
	<div class="card-title"><h1 class="h3 mb-3 text-center">Ingresar</h1></div>
	<div class="card-body">
	<form th:action="@{/login}" method="post">
    <div class="form-floating m-2">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Correo electronico</label>
    </div>
    <div class="form-floating m-2">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary m-2" type="submit">Ingresar</button>
  </form>
	</div>
	</div>
	
	</div>
	<!-- Footer -->
	<div class="container-fluid text-center footer">
		<p>Prototipo de Administración de sitio Web <a href="https://www.ulatina.edu.pa/">Universidad Latina.</a></p>
	</div>

	<th:Block th:insert="/layout/fragments_layout/scripts"></th:Block>
		
	</body>
</html>